.top {
  display: flex;
  background-color: rgb(111, 111, 243);
  height: 25vh;
  color: white;
}

.img-profile {
  width: 150px;
  height: 150px;
  margin-right: 60px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}

.button-hire {
  text-decoration: none;
  border: none;
  padding: 6px 28px;
  font-size: 16px;
  font-weight: 600;
  width: 170px;
  background-color: rgb(26, 212, 26);
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.button-hire:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button-cv {
  text-decoration: none;
  border: none;
  padding: 6px 28px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(26, 144, 212);
  color: #fff;
  width: 170px;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.button-cv:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.bottom {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

body,
html,
#root {
  margin: 0px;
}

.text-about {
  font-size: 17px;
}

.text-about-2 {
  font-size: 17px;
  font-weight: bold;
}

.mini-identity {
  flex-direction: column;
}

.input-format {
  width: 24vw;
  background-color: rgb(236, 234, 233);
  position: absolute;
  right: -8px;
  padding: 6px 28px;
  border-width: 1px;
  border-radius: 4px;
}

.input-format2 {
  width: 24vw;
  background-color: rgb(236, 234, 233);
  padding: 6px 28px;
  border-width: 1px;
  border-radius: 4px;
}

.text-area {
  width: 100%;
  margin-top: 20px;
  background-color: rgb(236, 234, 233);
  border-width: 1px;
  border-radius: 4px;
}

.gap {
  background-color: rgb(236, 234, 233);
  height: 2px;
  margin-top: 10px;
}
